*.Rproj*
.Rproj.user
.Rhistory
*.html

###pkgdown files
docs
inst
_pkgdown.yml

###extra tutorials for pkgdown
vignettes/*
!vignettes/seismicGWAS.Rmd
!vignettes/GWAS_processing.Rmd
!vignettes/scRNA-seq_processing.Rmd